:root {
  --horMargin: 0%; 
}

body.fullscreen{
	display: block;
	height: 100vh;
}

body{
	min-width: fit-content;
	
	margin: 0px var(--horMargin);
	font-size: 1.2em;
	font-family: "Ysabeau", sans-serif;
}

.wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	height: 100%;
}

.logo{
	height: 50px;
}

.invert{
	filter: invert(100%);
}

nav{
	display: flex;
	position: fixed;
	left: var(--horMargin);
  	right: var(--horMargin);
  	top: 0;
	z-index: 1;
	box-shadow: 0px 10px 3px rgb(0 0 0 / 40%);
}

nav a{
	display: flex;
	text-decoration: none;
	align-items: center;
	color: black;
}

nav h2{
	margin: 0px;
	padding: 0px;
	padding-left: 5%;
	
	flex-grow: 1;
	height: fit-content;
	
	border-style: solid;
	border-width: 2px;
	border-right-width: 0px;
	border-color: black;
	
	background-color: blue;
	
	text-decoration: underline;
	text-decoration-color: black;
	font-family: "Bruno Ace SC", sans-serif;
}


#nav-box{
	display: flex;
	background-color: blue;
	position: relative;
}

#nav-button{
	display: flex;
	justify-content: center;
	align-items: center;
	
  position: relative;
	z-index: 2;
	
	width: -webkit-fill-available;
	background-color: blue;
}

#nav-button i{
	padding-left: 5%;
	align-self: center;
}

#dropdown-menu{
	display: block;
	width: -webkit-fill-available;
	
	border-style: solid;
	border-width: 2px;
	border-top: 0px;
	
  position: absolute;
	z-index: 1;
	
	transition: 1s;
	transform: translateY(-140px);
	
	background-color: #8BBCCC;
}

#dropdown-menu ul{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0px;
	font-size: 1.5em;
}
#dropdown-menu li{
	display: flex;
	justify-content: center;
	
	margin-bottom: 5px;
}

#dropdown-menu li:last-child{
	margin-bottom: 0px;
	padding-bottom: 0px;
}

li a{
    	display: flex;
    	flex-direction: column;
		
	align-items: center;
		
	width: -webkit-fill-available;
		
	padding-top: 8px;
	padding-bottom: 8px;
	
	font-size: 1.2em;
}

header{
	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
	
	padding-top: 52px;
	padding-bottom: 20px;
	
	font-size: 2em;
	
	background-color: cyan;
	text-shadow: -3px 6px 1px #0a3744;
	box-shadow: inset 0px -18px 10px -5px #0a3744, 0px 1px 17px black;
	font-family: "Sigmar", sans-serif;
}

header .message{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

header h1, header p{
	display: flex;
  	flex-direction: column;
  	justify-content: center;
	
	margin-top: 0px;
	margin-bottom: 10px;
	
	align-self: center;
	
	font-size: 1.8em;
}

header .logo{
	height: 150px;
	filter: drop-shadow(-3px 6px 1px #0a3744);
}

header p{
	margin: 0px;
	font-size: 1em;
}

header h1 + p{
	font-size: 0.5em;
}

header.page-error{
	flex-grow: 1;
	background-color: unset;
	background-image: unset;
}

#main-intro{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	
	margin: 50px 0px;
}

#main-intro .intro{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	padding: 20px;
	
	width: 60%;
	background-color: pink;
	
	border-radius: 45px;
	align-self: center;
}

.link-img{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	margin-top: 40px;
	object-fit: contain;
	width: fit-content;
	align-self: center;
}

.link-img a, .link-img p{
	align-self: center;
}

#quote-wheel{
	align-self: center;
	display: flex;
	justify-content: center;
	
	width: 75%;
	max-height: 300px;
	padding: 20px;
	
	border-style: solid;
	border-width: 5px;
	
	background-image: linear-gradient(to bottom right, #FF0, #F50);
}

#quote-wheel p{
	font-size: 5em;
}
#quote-wheel p + p{
	display: flex;
	flex-direction: column;
	justify-content: center;
	
	margin-top: 40px;
	font-size: 1.5em;
}

.description{
	display: flex;
	flex-direction: column;
	
	width: 70%;
	
	align-self: center;
	margin-top: 100px;
	
	border-style: solid;
	border-width: 3px;
	border-radius: 5px;
	
	background-color: #393f48;
}

.title{
	align-self: flex-start;
	text-decoration: underline;
	
	margin-left: 5%;
	margin-right: 5%;
}

a.java-logo, a.python-logo{
	min-width: 96px;
}

.info{
	display: flex;
	justify-content: space-around;
	
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 5%;
}

.info .text{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.info p{
	display: flex;
}

.info a{
	display: flex;
  	flex-direction: column;
	
	font-size: 1.8em;
	
	color: lightskyblue;
}

.info a:visited{
	color: lightskyblue;
}

.info a.java-logo img{
	align-self: flex-end;
	width: 250px;
	height: 250px;
}

.info a.python-logo img, a.c-logo img{
	margin-left: 30px;
  	margin-right: 30px;
	
  	align-self: flex-end;
  	height: 200px;
}

aside{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-self: flex-start;
	
	background-color: #4c5174;
}

aside ul{
	display: flex;
	flex-direction: column;
}

aside li{
	align-self: flex-start;
}

li a{
	text-decoration: none;
	color: white;
}

footer{
	display: flex;
	justify-content: space-between;
	
	margin-top: 100px;
	padding-top: 10px;
	
	background-color: #223e6a;
	
  	box-shadow: 0px -11px 13px #090f18;
	text-shadow: 0px 3px 5px black;
	
	font-family: "Merriwether", sans-serif;
}

.no-margin{
	margin: 0px;
}

footer ul{
	display: flex;
	margin: 0px;
	padding-left: 0px;
}

footer li{
	display: flex;
	align-items: center;
	margin-right: 30px; 
}

footer li:hover{
	text-decoration: underline;
}

footer li a{
	text-decoration: none;
	
	font-size: 1em;
	
	color: white;
}

footer .details{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

footer .details p{
	align-self: flex-end;
	
	margin: 0px;
	margin-bottom: 2px;
	margin-right: 20px;
	
	color: #9ba9bb;
}

footer a.CSS-logo img{
	width: 64px;
}

.white{
	color: white;
}
.orange{
	color: #e99702;
}
.yellow{
	color: #ffd847;
}

.center{
	align-self: center;
	text-align: center;
}

.reverse-row, a.row-reverse, p.row-reverse{
	flex-direction: row-reverse;
	align-self: flex-end;
	align-items: flex-end;
	text-align: right;
}

.gallery {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-between;
  	width: 600px;
  	margin: auto;
}

.gallery-item {
  	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	width: 33%;
  	margin-bottom: 15px;
  	text-decoration: none;
  	color: #333;
  	padding: 5px;
  	box-sizing: border-box;
  	border-style: groove;
  	border-color: lightslategrey;
  	background-color: #19263a;
}

.gallery-item:first-child, .gallery-item:nth-child(2), .gallery-item:nth-child(3){
	margin-top: 15px;
}

.gallery-item img {
  	width: 100%;
}

.gallery-item p{
	align-self: center;
  	margin-top: 5px;
  	font-size: 0.75em;
	
	color: rgba(0,0,0,0);
}

.gallery-item:hover {
  	background-color: #2b305e;
}

.gallery-item:hover p{
  	color: #fff;
}

@media (prefers-color-scheme: dark){
	body{
		color: #F4EEE0;
		background-color: #454545;
	}
	
	.wrapper{
		background-color: #222831;
	}
	
	
}

nav h2{
		background-image: linear-gradient(to bottom, #A5D7E8, #02d3dd);
	}
	
	#nav-button{
		background-color: #8ae4f3;
	}
	
	header{
		color: white;
		background-image: linear-gradient(to bottom, #00ADB5, #029cdd);
	}
	
	#main-intro .intro{
		color: #E5E5CB;
		background-color: #4C6793;
	}

@media (prefers-color-scheme: light){
	body{
		color: black;
		background-color: #DDD;
	}
	
	.wrapper{
		background-image: linear-gradient(358deg, #1b6ad1, #8ac1f3);
	}
	
	.description{
		background-color: #aac4eb;
	}
	
	.description .info a{
		color: #305a74;
	}
}

@media (min-width: 1500px){
	:root {
		--horMargin: 10%; 
	}
	
	body{
		display: block;
	}
}

@media (min-width: 700px){
	#main-intro{
		flex-direction: row;
	}
	
	#main-intro .intro{
		width: 40%;
		align-self: unset;
	}
	
	#main-intro .link-img{
		margin-top: 0px;
		align-self: unset;
	}
}

@media (max-width: 800px){
	#quote-wheel p{
		font-size: 3.5em;
	}
}

@media (max-width: 600px){
	body{
		font-size: 0.5em;
	}
	
	#main-intro .intro{
		width: 80%;
		font-size: 2em;
	}
	
	#main-intro .link-img{
		font-size: 1.8em;
	}
	
	.description{
		width: fit-content;
		font-size: 2em;
	}
	
	.description .info{
		flex-direction: column;
    		align-items: center;
	}
	
	.text p, .text a{
		align-self: center;
		align-items: center;
		text-align: center;
	}
	
	.info a{
		margin-top: 5%;
	}
	
	#gallery {
    		width: 300px;
	}
	
	#gallery .gallery-item p {
		font-size: 1em;
		color: white;
	}
}
